//Breakpoints

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bannerText {
    display: block;
  }

  .headerText {
    text-align: center !important;
  }

  .feature {
    text-align: center;
  }

  .iphone {
    margin-top: 3em;
  }

  .headerBanner {
    background: transparent url("/img/swoosh.svg") no-repeat top !important;
  }

  .featureImage {
    max-width: 50vw !important;
  }

  .signUpForm {
    max-width: 90vw !important;
  }

  .signUpButton {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .flexGrid {
    display: block;
  }

  .headerText {
    text-align: left;
  }

  .feature {
    text-align: center;
  }

  .iphone {
    margin-top: 3em;
  }

  .signUpForm {
    max-width: 90vw !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

//Normal SCSS

.headerText {
  font-weight: bold;
  color: white !important;
  font-size: 2.4em;
}

.headerBanner {
  padding: 4rem 0;
  overflow: hidden;
  background: transparent url("/img/swoosh.svg") no-repeat bottom;
  background-size: cover;
}

.headerCenter {
  display: flex;
  width: 100% !important;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  flex: 1;
}

.iphone {
  height: 100%;
  max-height: 40em;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.signUpButton {
  color: white !important;
  border-color: white !important;
  border-width: 0.2em;
  margin-top: 1em;
  font-size: 1.3em;

  &:hover {
    background-color: rgb(55, 49, 157) !important;
    border-color: rgb(230, 230, 230) !important;
    color: rgb(230, 230, 230) !important;
  }
}

.featureText {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.8em;
  font-weight: bold;
}

.featureTitle {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
}

.featureTextWrapper {
  margin-top: 1.3em;
}

.featureImage {
  width: 90%;
  height: 200px;
  max-width: 30vw;
}

.features {
  margin-top: 3em;
}

.signUpForm {
  max-width: 50vw;
  display: flex;
  align-items: center;
  margin: 2em auto 3em;
  flex: 1;
}

.signUpButtonHash {
  text-decoration: none;
  color: white;

  &:hover {
    color: rgb(230, 230, 230);
    text-decoration: none;
  }

  &:active {
    color: rgb(230, 230, 230);
  }
}
