//Breakpoints

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .activatorButton {
    visibility: visible !important;
  }
  .NavLogo {
    width: 90% !important;
    margin-left: -0.2em !important;
  }

  .activatorButton{
    font-size: 0.9em;
    top: 0.4em !important;
  }

  .githubButton {
    margin-left: 1.2em;
    margin-top: 0.3em;
  }

  .sidebarSpacing {
    margin-top: 0.4em;
    margin-left: 0.4em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .activatorButton {
    visibility: visible !important;
  }

  .githubButton {
    margin-left: 1.2em;
    margin-top: 0.3em;
  }

  .sidebarSpacing {
    margin-top: 0.4em;
    margin-left: 0.4em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .activatorButton {
    visibility: visible !important;
  }

  .githubButton {
    margin-left: 1.2em;
    margin-top: 0.3em;
  }

  .sidebarSpacing {
    margin-top: 0.4em;
    margin-left: 0.4em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .githubButton {
    right: 1em;
    top: 0.5em;
    z-index: 1;
    position: absolute;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .githubButton {
    right: 1em;
    top: 0.5em;
    z-index: 1;
    position: absolute;
  }
}

.NavLogo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.navBarLink {
  text-decoration: none;
  color: grey;

  &:hover {
    color: lightgrey;
    text-decoration: none;
  }

  &:active {
    color: blue;
  }
}

.activatorButton {
  right: 1em;
  top: 0.33em;
  z-index: 1;
  position: absolute;
  visibility: hidden;
}
