@import "~bootstrap/scss/bootstrap";
@import '~antd/dist/antd.css';


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! FONTS */

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-ExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Berlin Rounded';
}

//Nav SCSS

.NavLogo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.navBarLink {
  text-decoration: none;
  color: grey;

  &:hover {
    color: lightgrey;
    text-decoration: none;
  }

  &:active {
    color: blue;
  }
}

h1, h2, h3, h4, h5 {
  color: rgba(0, 0, 0, 0.85) !important;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  max-width: 600px;
}

.mb-5 {
  margin-bottom: 2rem !important;
}
