@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! FONTS */

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-ExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: local("Berlin Rounded"), local("BerlinRounded"), url('/fonts/BerlinRounded-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

//Nav SCSS

.NavLogo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}
